<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-box">

            <h3>Good Shepherd Old People Home</h3>

            <p>Bako, Kwali, FCT Abuja</p>

            <p>☎ +234 706 741 2656</p>

            <p>✉ anakyco@gmail.com</p>

            <p>✉ admin@goodshepherdoldpeoplehome.com</p>

        </div>

        <div class="footer-box">

            <h3>Visiting Hours</h3>

            <p>Monday - Friday</p>

            <p>8:00 AM - 5:00 PM</p>

            <p>Saturday & Sunday</p>

            <p>By Appointment</p>

        </div>

        <div class="footer-box">

            <h3>Donation Accounts</h3>

            <p><strong>First Bank Nig PLC 
            </strong></p>

            <p> Account No : 3061960889:
                 Acount Name: Good Shepherd orphans and old people house </p>

            <br>

            <p><strong>First Bank Nig PLC 
            </strong></p>

            <p> Account No : 3061960889:
                 Acount Name: Good Shepherd orphans and old people house </p>

        </div>

        <div class="footer-box">

            <h3>Follow Us</h3>

            <p>Facebook</p> 

            <p>Instagram</p>

            <p>YouTube</p>

            <p>X (Twitter)</p>

        </div>

    </div>

    <div class="copyright">

        © 2026 Good Shepherd Old People Home.
        All Rights Reserved.
        Developed by Homeland Edu & Tech, FCT Abuja.

    </div>

</footer>